@model List<APSEvent.EventData>

@{
    ViewData["Title"] = "Test Transaction Events";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Client Id</th>
            <th>Amount</th>
            <th>Event Date Time</th>            
        </tr>
        @foreach (var tran in Model)
        {
            <tr>
                <td>@tran.Eventid</td>
                <td>@tran.Clientid</td>
                <td>@tran.EventDateTime.ToDateTime()</td>

            </tr>
        }
    </table>
</div>
