@model List<TransactionEvent.TransactionEventData>

@{
    ViewData["Title"] = "Test Transaction Events";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Client Id</th>
            <th>Amount</th>
            <th>Transaction Date Time</th>
            <th>Event Dispatched</th>
        </tr>
        @foreach (var tran in Model)
        {
            <tr>
                <td>@tran.Clientid</td>
                <td>@tran.Amount</td>
                <td>@tran.Transactionid</td>
                <td>@tran.TransactionDateTime</td>                
            </tr>
        }
    </table>
</div>
